services:
  beelzebub:
    build: .
    container_name: beelzebub
    restart: always
    ports:
      - "22:22"
      - "23:23"
      - "2222:2222"
      - "8080:8080"
      - "8081:8081"
      - "80:80"
      - "3306:3306"
      - "502:502"   # Modbus TCP
      - "102:102"   # Siemens S7Comm
      - "2404:2404" # IEC 60870-5-104
      - "2112:2112" #Prometheus Open Metrics
    environment:
      RABBITMQ_URI: ${RABBITMQ_URI}
      OPEN_AI_SECRET_KEY: ${OPEN_AI_SECRET_KEY}
    volumes:
      - "./configurations:/configurations"
